.page-header{
	text-align: center;
}

.jumbotron{
	color: white; 
	padding-top: 500px;
	padding-bottom: 40px;
}

#home{
	background: url('img/id.jpg') no-repeat center center;
}

#aboutus{
	background: url('img/rub1.jpg') no-repeat center center;
}

#meshchat{
	background: url('img/meshchat_big.jpg') no-repeat center center;
}

#signalgenerator{
	background: url('img/signalgenerator_big.jpg') no-repeat center center;
}

#fourieranalyzer{
	background: url('img/fft_big.jpg') no-repeat center center;
}

#faq{
	background: url('img/faq_big.jpg') no-repeat center center;
}

#award{
	background: url('img/award_big.jpg') no-repeat center center;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.credit{
	margin: 20px 0px;
}

.muted{
	color: #999;
}

.faqHeader {
        font-size: 27px;
        margin: 20px;
    }